.multiple-choice-container {
  background: #8595bc;
  min-height: 100vh;
  padding: 40px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.question-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.preview-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}
